body {
    background-color: #000000;
    font-family: monospace;
    color: #FFFFFF;
}

.clock {
    font-size: 140px;
    width: 40%;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(0%, 0%);
    text-align: center;
    
    /* DEBUG */
    /*background-color: #FF0000;*/
}

.calendar {
    margin-top: 15px;
    position: absolute;
    top: 5%;
    left: 55%;
    transform: translate(0%, 0%);
    width: 40%;
    text-align: center;
    
    /* DEBUG */
    /*background-color: #00FF00;*/
}

.weather {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
    
    /* DEBUG */
    /*background-color: #0000FF;*/
}

/*Hides cursor from view*/
* {
    cursor: none;
}
